<div class="tm-middle">
  <div class="uk-container uk-container-center">
    <article class="uk-article">
      <h1 class="uk-article-title"><%= @date %></h1>
      <ul class="uk-list uk-list-striped">
      <% @chapters.each do |chapter| %>
        <li>
          <i class="uk-icon-book"></i>
          <a href="<%= chapter.url %>" target="_blank" class="uk-button-link">
            <%= chapter.site.title %>
          </a>
          <a href="<%= chapter.site.url %>" target="_blank" class="uk-button-link">
            [公式サイト]
          </a>
          (<%= chapter.updated_at.getlocal.strftime("%T") %>)
        </li>
      <% end %>
      </ul>
    </article>
    <ul class="uk-pagination">
      <li class="uk-pagination-previous">
        <a href="/?date=<%= @date - 1 %>">Prev</a>
      </li>
      <li class="uk-pagination-next">
        <a href="/?date=<%= @date + 1 %>">Next</a>
      </li>
    </ul>
  </div>
</div>
